:root {
    --main-font: "Inter", sans-serif;
    --accent-font: "PressStart2P", monospace;
    --font-weight-normal: 400;
    --font-weight-medium: 410;
    --font-weight-bold: 715;
    --bg-gradient: repeating-linear-gradient(to right,
            #d3d3d3,
            #d3d3d3 2px,
            transparent 2px,
            transparent 4px),
        repeating-linear-gradient(to bottom,
            #d3d3d3,
            #d3d3d3 2px,
            transparent 2px,
            transparent 4px),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
    --block-width: clamp(375px, 70vw, 1440px);
    --logo-width: clamp(375px, 70vw, 700px);
    --logo-height: clamp(327px, 70vh, 368px);
    --title-fluid: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --subtitle-fluid: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    --button-width: clamp(306px, 80vw, 335px);
    --dialog-width: clamp(341px, 70vw, 353px);
    --dialog-button-width: clamp(261px, 100%, 293px);
    --text-color: #000;
    --bg-color: #fff;
    --border-color: #000;
    --accent-color: #000;
    --hover-color: #fff;
    --contour-color: #000;
    --animation-fill-color: #f00;
}